body
{
    margin: 0;
    padding: 0;
}

.flex
{
    display: flex;
}

img
{
    padding-left: 20px;
    border-radius: 5px;
}

blockquote
{
    margin: 0;
    padding: 0;
    flex-direction: row;
    padding: 90px 120px;
}

cite
{
    font: 600 16px/42px Open Sans;
    color: #333333;
    padding-left: 2px;
}

.quote
{
    font: 28px/42px Georgia;
    color: #848484;
    font-style: italic;
    margin-bottom: 2px;
}

.flex2
{
    display: flex;
    height: 635px;
    margin-bottom: 25px;
}

.left
{
    margin: 0;
    padding: 0;
    flex-direction: column;
    padding: 20px 19px;
}

.writer
{
    font: 600 24px/32px Open Sans;
    color: #15a98c;
    margin-bottom: -3px;
}

.film
{
    font: 600 24px/32px Open Sans;
    color: #15a98c;
    padding-top: 17px;
    margin-bottom: -4px;
}

ul li
{
    font: 19px/36px Georgia;
    color: #555555;
    margin-left: -18px;
}

ol li
{
    margin: 0;
    padding: 0;
    font: 19px/36px Georgia;
    color: #555555;
    margin-left: -18px;
}

.true
{
    margin: 0;
    padding: 0;
    font: 19px/36px Georgia;
    color: #555555;
    margin-left: -22px;
}

.right
{
    margin: 0;
    padding: 0;
    display-flex: column;
    padding: 4px 124px;
}

.rec
{
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa;
    margin-top: -9px;
    padding-right: -1px;
}

h1
{
    font: 700 48px/42px Open Sans;
    color: #333333;
    padding-left: 4px;
}

h2
{
    font: 400 36px/42px Open Sans;
    color: #333333;
    padding-top: 13px;
    margin-left: -2px;
    margin-bottom: -3px;
}

.first
{
    font: 19px/32px Georgia;
    color: #555555;
    padding-top: 25px;
    padding-right: 1px;
}

.second
{
    font: 19px/32px Georgia;
    color: #555555;
}

a
{
    font: 19px/32px Georgia;
    color: #15a98b;
    padding-left: 410px;
}
