.body
{
    margin: 0;
    padding: 0;
    width: 1920px;
    width: 100%
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position-y: 50px;
}

.flex
{
    display: flex;
}

.main
{
    padding-left: 20px;
    border-radius: 5px;
}

.blockquote
{
    flex-direction: row;
    margin-top: -3px;
    padding-left: 23px ;
}

.author
{
    font: 600 16px/42px Open Sans;
    color: #fff;
    padding-left: 2px;
}

.quote
{
    font: 28px/42px Georgia;
    color: #fff;
    font-style: italic;
    margin-bottom: 2px;
}

.main_block
{
    display: flex;
    height: 635px;
    margin-bottom: -40px;
}

.left
{
    margin: 0;
    flex-direction: column;
    padding: 20px 19px;
}

.list_head
{
    font: 600 24px/32px Open Sans;
    color: #15a98c;
    margin-bottom: -3px;
}

.ul_li
{
    font: 19px/36px Georgia;
    color: #555555;
    margin-left: -18px;
}

.ol_li
{
    margin: 0;
    padding: 0;
    font: 19px/36px Georgia;
    color: #555555;
    margin-left: -18px;
}

.first_list
{
    margin-bottom: 40px;
}

.true
{
    margin: 0;
    padding: 0;
    font: 19px/36px Georgia;
    color: #555555;
    margin-left: -22px;
}

.right
{
    margin: 0;
    flex-direction: column;
    padding: 4px 67px;
    margin-top: -160px;
    margin-left: 56px;
}

.rec
{
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa;
    margin-top: -9px;
    padding-right: -1px;
    margin-bottom: 44px;
}

.name
{
    font: 700 48px/42px Open Sans;
    color: #333333;
    padding-left: 4px;
    margin-bottom: 40px;
}

.hobbi
{
    margin: 0;
    padding: 0;
    font: 400 36px/42px Open Sans;
    color: #333333;
    padding-top: 13px;
    margin-left: -2px;
    margin-bottom: -4px;
}

.text
{
    font: 19px/32px Georgia;
    color: #555555;
    margin-bottom: 30px;
}

.end
{
    font: 19px/32px Georgia;
    color: #15a98b;
}

.end::after
{
    content: '';
    display: block;
    width: 115px;
    height: 2px;
    margin-top: -7px;
    background-color: #15a98b;
}

.header
{
    display: flex;
    margin-bottom: 230px;
    padding-left: 25px;
}

.menu_item
{
    flex-direction: row;
    font: 19px/32px Georgia;
    color: #333333;
    background-color: #fff;
    padding: 10px 20px 8px;
    margin-bottom: -20px;
    transition: background .2s linear;
}

.menu_item:hover{
    background-color: #45c3aa;
    color: #fff;
} 

.films
{
    display: flex;
    margin-top: 24px;
    margin-bottom: 48px;
}

.film
{
    flex-direction: row;
    width: 285px;
    padding-right: 20px;
}

.best_films
{
    font: 400 36px/42px Open Sans;
    color: #333333;
}

.film_head
{
    font: 700 22px/32px Open Sans;
    color: #333333;
    margin-top: 10px;
    margin-left: -1px;
    margin-bottom: 5px;
}

.desc
{
    font: 16px/28px Georgia;
    color: #555555;
}

.cadr
{
    border-radius: 5px;
    margin-bottom: 12px;
}

.bottom
{
    font: 19px/32px Georgia;
    color: #f5f5f5;
    transition: background .2s linear;
    background-color: #098d71;
    border-radius: 5px;
    padding: 14px 55px;
    margin-left: 380px;
}

.bottom:hover{
    background-color: #15a98c;
}

.footer
{
    font: 16px/32px Georgia;
    color: #555555;
    margin-top: 79px;
    background-color: #DCDCDC;
    padding-top: 20px;
    padding-bottom: 18px;
    text-align: center;
    width: 1920px;
}